*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 108, 230);
}
.container{
    display: flex;
    gap: 100px;
}
.mouse-event{
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
}